.team-photo img {
    max-width: 100%;
    height: auto;
}

.teams {
    margin: auto;
    max-width: 75%;
    font-family: 'Avenir LT Std 45 Book';

}

b {
    font-size: 20px;
    font-family: 'Avenir LT Std 85 Heavy';
}

.team-photo {
    max-width: 800px;
    margin: auto;
    padding: 30px;
}

.text-center {
    padding-top: 5%;
    max-width: 800px;
}

.faculty {
    width: 40%
}

.student {
    width: 30%
}

.consultant {
    width: 30%
}

@media (min-width: 900px) {
    .teams {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

}