/*
  Color palette: http://www.colourlovers.com/palette/809495/sure
 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next Bold';
  color: #212121 !important;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir Next";
  src: url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.eot");
  src: url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.svg#Avenir Next") format("svg");
}

@font-face {
  font-family: 'Avenir Next Bold';
  font-weight: bolder;
  font-style: normal;
  font-variant:normal;
  src: url('/Users/wuaiwei/Desktop/personal-portfolio/src/static/font/AvenirNextLTPro-Bold.otf') format('otf')
}

.h1 {
  color: #00a3ff;
  text-align: center;
  font-weight: 900
}

h3 {
  font-weight: 300;
}

h6 {
  font-weight: 500;
}

p,
span {
  font-weight: 300;
}

p {
  font-family: "Avenir Next";
  font-weight: 500;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.section {
  padding-left: 0%;
  padding-right: 0%;
  position: relative;
}

.section-container {
  width: 100%;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;

}

.nav {
  height: 50px;
  margin: auto;
  position: fixed;
  background: none;
  width: 100%;
}

.section-container.header-component {
  height: 900px;
  clear: both;

}

.section-container.footer-component {
  padding: 0;
  background: #00a3ff
}

.section.colored {
  background: #f7f7f7;
}

.section.blue {
  background: #00a3ff
}

p.headline {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 10pt;
  opacity: 0.8;
}


p.text-justify {
  text-align: justify;
}

p.text-center {
  text-align: center;
}


nav {
  width: 100%;
  margin: 0;
  top: 0;
  background: none;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  color: #f7f7f7;
  font-weight: 900;
  font-size: 20px
}

.fixed-nav {
  background: black;
  text-decoration: none;
  position: fixed;
  color: #f7f7f7
}

button {
  flex: 1;
  border: none;
  outline: none;
  margin: 4px 2px;
  text-decoration: none;
  background: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

button.testing {
  flex: 0.5;
  font-family: 'Avenir Next Bold';
  outline: none;

}

button.play {
  white-space: nowrap;
  background-color: #00a3ff;
  border: none;
  outline: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  z-index: 1;
}

.play {
  margin: 1em auto;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding-top: 600px;
  padding-left: 43%
}