/*
  Color palette: http://www.colourlovers.com/palette/809495/sure
 */

body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next';
  color: #212121 !important;
  overflow-x: hidden;
}

@font-face {
  font-family: "Avenir Next";
  src: url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.eot");
  src: url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/f3df85918e3f1ba8a7b13be9b47882ce.svg#Avenir Next") format("svg");
}

.h1 {
  color: #00a3ff;
  text-align: center;
  font-weight: 900
}

h3 {
  font-weight: 300;
}

h6 {
  font-weight: 500;
}

p,
span {
  font-weight: 300;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section {
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
}

.section-container {
  width: 100%;
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;
  padding-bottom: auto;

}

nav {
  height: 50px;
  box-sizing: border-box;
  margin: auto;
  position: fixed;
  /* padding: 50px; */
  display: flex;
  background-color: #ffffff;
  width: 100%;
}

.section-container.header-component {
  height: 900px;
  padding-top: 160px;
  padding-bottom: 160px;
}

.section-container.footer-component {
  padding: 0;
  background: #00a3ff
}

.section.colored {
  background: #f7f7f7;
}

.section.blue {
  background: #00a3ff
}

p.headline {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 10pt;
  opacity: 0.8;
}


p.text-justify {
  text-align: justify;
}

p.text-center {
  text-align: center;
}

BottomNavigation {
  text-align: center;
}