.carousel {
  width: 100%;
  height: auto;
  margin: auto;
}

.caption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
  height: auto;
  padding-bottom: 250px
}

p.thick {
  font-family: "Avenir Next Bold";
  font-size: 60px;
  font-weight: 900;
}