.carousel {
  width: 100%;
  height: auto;
  margin: auto;
}

.caption {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
  padding-bottom: 30%
}

p.thick {
  font-family: 'Avenir Next LT Pro Heavy';
  font-weight: 900;
}

@media (min-width: 900px) {
  .caption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 75%;
    height: auto;
    padding-bottom: 18em
  }

  p.thick {
    font-family: 'Avenir Next LT Pro Heavy';
    font-size: 60px;
    font-weight: 900;
  }
}